#konteineris{
    display: flex;
    flex-wrap: wrap;
}
.header{
    background-color: greenyellow;
    width: 100%;
}
.navads{
    width: 20%;
}
.nav{
    background-color: greenyellow;
    height: 50%;
}
.ads{
    background-color: greenyellow;
    height: 50%;
}
.articlefooter{
    width: 80%;
    height: 280px;
}
.article{
    background-color: greenyellow;
    height: 85%;
    margin: 3px;
}
.footer{
    background-color: greenyellow;
    height: 15%;
    margin: 3px;
}